mixin gallery()
  +b.gallery&attributes(attributes)
    .container
      +e.content
        +e.H2.heading Галерея
        +e.P.text
        +e.wrapper
          +e.item-wrapper
            +e.A(href='#videocard').__item.js-play
              +e.DIV.__video
                +e.IMG(src='assets/images/gallery-1.png')
                +e.DIV.__viewed.videocard_active
                  +e.SPAN.__viewed-text Оценка:
                    +e.SPAN 3
                +e.__play
                  +icon('play').__icon._play
              +e.__title Очень длинное название
          +e.item-wrapper
            +e.A(href='#videocard').item.js-play
              +e.DIV.__video
                +e.IMG(src='assets/images/gallery-del.png')
                +e.DIV.viewed.videocard_active
                  +e.SPAN.viewed-text Просмотрено
                +e.__play
                  +icon('play').__icon._play
              +e.__title Очень длинное название
          +e.item-wrapper
            +e.A(href='#videocard').item.js-play
              +e.DIV.__video
                +e.IMG(src='assets/images/gallery-del.png')
                +e.DIV.viewed
                  +e.SPAN.viewed-text Просмотрено
                +e.__play
                  +icon('play').__icon._play
              +e.__title Очень длинное название
          +e.item-wrapper
            +e.A(href='#videocard').item.js-play
              +e.DIV.__video
                +e.IMG(src='assets/images/gallery-del.png')
                +e.DIV.viewed
                  +e.SPAN.viewed-text Просмотрено
                +e.__play
                  +icon('play').__icon._play
              +e.__title Очень длинное название
          +e.item-wrapper
            +e.A(href='#videocard').item.js-play
              +e.DIV.__video
                +e.IMG(src='assets/images/gallery-del.png')
                +e.DIV.viewed
                  +e.SPAN.viewed-text Просмотрено
                +e.__play
                  +icon('play').__icon._play
              +e.__title ДЛинное название фильма лалалаллала
          +e.item-wrapper
            +e.A(href='#videocard').item.js-play
              +e.DIV.__video
                +e.IMG(src='assets/images/gallery-del.png')
                +e.DIV.viewed
                  +e.SPAN.viewed-text Просмотрено
                +e.__play
                  +icon('play').__icon._play
              +e.__title Рыжие каникулы
          +e.item-wrapper
            +e.A(href='#videocard').item.js-play
              +e.DIV.__video
                +e.IMG(src='assets/images/gallery-del.png')
                +e.DIV.viewed
                  +e.SPAN.viewed-text Просмотрено
                +e.__play
                  +icon('play').__icon._play
              +e.__title Рыжие каникулы
          +e.item-wrapper
            +e.A(href='#videocard').item.js-play
              +e.DIV.__video
                +e.IMG(src='assets/images/gallery-del.png')
                +e.DIV.viewed
                  +e.SPAN.viewed-text Просмотрено
                +e.__play
                  +icon('play').__icon._play
              +e.__title Рыжие каникулы
          +e.item-wrapper
            +e.A(href='#videocard').item.js-play
              +e.DIV.__video
                +e.IMG(src='assets/images/gallery-del.png')
                +e.DIV.viewed
                  +e.SPAN.viewed-text Просмотрено
                +e.__play
                  +icon('play').__icon._play
              +e.__title Очень длинное название
