mixin brands()
  +b.brands&attributes(attributes)
    +e.item._red
      //+e.A.close
      +e.container
        +e.IMG(src='assets/images/logo-purina-small.svg').logo
        +e.P.text Мировой производитель кормов для домашних животных. Purina® стремится делать лучше жизнь домашних животных и&nbsp;людей, которые их&nbsp;любят
    +e.item
      //+e.A.close
      +e.container
        +e.IMG(src='assets/images/logo-friskies.png').logo._big
        +e.P.text Корм Friskies® — корм для кошек
