include ../blocks/accordion/accordion
include ../blocks/brands/brands
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/button/button
include ../blocks/content-zone/content-zone
include ../blocks/dropdown/dropdown
include ../blocks/form-elements/form-elements
include ../blocks/grid/grid
include ../blocks/icon/icon
include ../blocks/link/link
include ../blocks/lists/lists
include ../blocks/map/map
include ../blocks/media/media
include ../blocks/popups/popups
include ../blocks/put-block-into-slot/put-block-into-slot
include ../blocks/rating/rating
include ../blocks/slider/slider
include ../blocks/table/table
include ../blocks/tabs/tabs
include ../blocks/videocard/videocard
include ../components/conditions/conditions
include ../components/footer/footer
include ../components/gallery/gallery
include ../components/header/header
include ../components/inner/inner
include ../components/jury/jury
include ../components/notfound/notfound
include ../components/prize/prize
include ../components/profile/profile
include ../components/screen/screen
include ../components/ui-kit/ui-kit
include ../components/video/video
