include _externalIncludes
include _internalIncludes

doctype html
html(lang='ru')
  include head
  body
    block content
    script(src='assets/scripts/app.min.js')
    script(src='assets/scripts/main.js')
    script(src='assets/scripts/libs/date-input-polyfill.dist.js')
    // fb
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
